@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Comfortaa', cursive;
}


@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(-80%);
    }
    to {
      transform: translateX(0);
    }
  }